section .container{
  position: absolute;
  padding-top: 50px;
  margin-left: -50px;
  min-height: 700px;
}
.main, .main-box{
  min-height: 600px;
}
.trip-list{
  position: relative;
  float: right;
  margin-top: 50px;
  /* margin-left: 50px; */
  background-color: #ffffff;
  border-radius: 10px;
  width: 70%;
  min-height: 800px;
  bottom: 50px;
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}
