.main-content{
  text-align: center;
}
.main-content h1{
  font-size: 50px;
  margin-bottom: -20px;
}
.form-box{
  border: 2px solid #f4f4f4;
  border-radius: 2px;
  margin: 50px;
  box-shadow: 0 5px 10px rgba(158, 158, 158, 0.3), 0 7px 6px rgba(158, 158, 158,0.22);
}
input{
  font: 15px/1.5 "Montserrat", Helvetica, sans-serif;
  border: 2px solid #f4f4f4;
  height: 40px;
  box-shadow: 0 5px 10px rgba(158, 158, 158, 0.3), 0 7px 6px rgba(158, 158, 158,0.22);
  width: 50%;
  margin-bottom: 20px;
}
input:focus{
  outline: none;
  border-color: #9932CC;
}
input[type='submit']{
  color: #ffffff;
  font-size: 20px;
  height: 46px;
  border: none;

  background-size: 300% 100%;
  transition: all .4s ease-in-out;
  background-image: linear-gradient(to right, #ed6ea0, #ec8c69, #f7186a , #FBB03B);
  box-shadow: 0 4px 15px 0 rgba(236, 116, 149, 0.75);
}
input[type='submit']:active{
  transform: translateY(4px);
}
input[type='submit']:hover{
  cursor: pointer;
  background-position: 100% 0;
  transition: all .4s ease-in-out;
}
.main-content .form-bottom{
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 20px;
  box-shadow: none;
}
/* Media Queries */
@media(max-width: 767px){
  input{
    width: 90%;
  }
  .form-box{
    border: none;
    margin: 0;
  }
  .main-content .form-bottom{
    /* font-size: 16px; */
  }
}
@media(min-width: 768px) and (max-width:1024px){
  input{
    width: 80%;
  }
  .form-box{
    margin: 5%;
  }
}
