body{
  font: 15px/1.5 "Trebuchet MS", Helvetica, sans-serif;
  padding:0;
  margin:0;
}
/* Global */
.container{
  width: 80%;
  margin: auto;
  overflow: hidden;
}
ul {
  margin: 0;
  padding: 0;
}
/* Header */
header{
  background: #f4f4f4;
  padding-top: 20px;
  min-height: 60px;
  border-bottom: #e8491d 3px solid;
}
header a{
  text-decoration: none;
  color: #000000;
}
header li{
  float: left;
  display: inline;
  padding: 0 20px 0 20px;
}
header #branding{
  float: left;
  margin-right: 2rem;
}
header #branding h3{
  float: right;
}
header #hamburger{
  display: none;
  cursor: pointer;
}
.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: #333;
  margin: 6px 0;
  transition: 0.4s;
}
.bar2{
  background-color: #e8491d;
}
.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}
header #signs{
  float: right;
}
header #signs a{
  color: #e8491d;
}
header nav{
  margin-top: 1.2rem;
}
header #trips li{
  border: 2px solid #000000;
  border-radius: 10px;
}
header #signs li{
  border: 2px solid #e8491d;
  border-radius: 10px;
}
header #trips a:hover{
  background-color: #000000;
  color: #ffffff;
}
header nav li{
  margin-left: 1rem;
}
/* Main */
.main{
  background: url(../images/background.png) no-repeat 250px 100px, #573280;
  background-size: cover;
  min-height: 500px;
  border-bottom: #000000 3px solid;
}
.main-box{
  background: #ffffff;
  float: left;
  width: 40%;
  min-height: 500px;
  text-align: center;
  border-top-right-radius: 30%;
  border-bottom-right-radius: 30%;
}
.main-box form{
  margin-top: 50px;
  margin-left: 250px;
  background-color: #ffffff;
  border-radius: 10px;
  width: 80%;
  min-height: 350px;
  bottom: 50px;
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}
.main-box form .forms{
  padding-top: 5px;
  padding-bottom: 5px;
}
.main-box label{
  display: none;
}
.main-text{
  float: right;
  width: 40%;
  color: #ffffff;
  margin-top: 100px;
}
.main-box input{
  border: 2px solid #f4f4f4;
  border-radius: 20px;
  height: 30px;
  /* width: 60%; */
  margin: 5px;
  padding-left: 2px;
}
.main-box input:focus{
  outline: none;
  border-color: #9932CC;
}
.main-box input[type='submit']{
  background-color: #e8491d;
  color: #ffffff;
  font-size: 20px;
  width: 40%;
  height: 40px;
  border-radius: 5px;
  border: none;
  box-shadow: 0 10px 20px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
  margin-bottom: 10px;
}
.main-box input[type='submit']:active{
  transform: translateY(4px);
}
.main-box input[type='submit']:hover{
  cursor: pointer;
}
/* Footer */
footer{
  background-color: #e8491d;
}
footer a{
  color: #ffffff;
}
footer li{
  float: left;
  display: inline;
  padding: 0 10px 0 10px;
}
footer .copy{
  float: right;
  color: #ffffff;
}


/* Media Queries */
@media(max-width: 768px){
  header{
    padding-top: 10px;
  }
  header #hamburger{
    display: inline-block;
    float: right;
  }
  header .subnav{
    display: none;
  }
  header nav .display-menu{
    display: inline-block;
    margin: 0;
    padding: 0;
  }
  .main{
    background: none;
    background: url(../images/van.gif) no-repeat 0 300px;
    background-size: contain;
  }
  .main .main-text{
    display: none;
  }
  .main .main-box{
    width: 100%;
    /* margin-left: 10px; */
    background: none;
  }
  .main .main-box form{
    width: auto;
    margin-top: 15px;
    margin-left: 30px;
    padding: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
}
